.container {
  margin: 20px auto;
  width: 640px;
  height: 960px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.homepage {
	display: block;
	text-align: center;
}

input {
	display: block;
}

nav ul {
	list-style-type: none;
	list-style-position: 
}

nav ul li {
	display: inline;
}