body {
  background-color: #C0CFC4;
}

#new_yoda_message {
	display: none;
}

a {
	text-decoration: none;
	color: #46592A;
}

a:hover {
	color: #543F23;
}

img {
	height: 4em;
	width: 4em;
}

header {
	text-align: center;
	width: 100%;
	z-index: 1;
	background-color: #87A388;

	color: #46592A;
	padding: 0em 0em 0.4em 0em;
	font-size: 6em;
	font-weight: bolder;
}

.container {
  margin: 0 auto;
  width: 100%;
}

th {
  text-align: left;
}

section.homepage {
	height: 500px;
	overflow: auto;
}

a.landingpage {
	display: block;
	text-align: center;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	top: 5em;
	padding: 0.5em 0.1em;
	margin: 0.5em 0em;
  background-color: #87A388;

}

nav {
	background-color: #917A5C;
	padding: 0.1em 0em;
	width: 100%;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}

nav ul li {
	display: inline-block;
	text-align: center;
	width: 33%;
}


nav ul li a {
	color: #543F23;
	font-size: 1.5em;
	font-weight: bold;
}

nav ul li a:hover {
	color: #46592A;
}


input {
	display: block;
	margin: 0.5em auto;
}

article.sent_message {
	background-color: #87A388;
	border-radius: 0.5em;
	width: 100%;
	margin: 1em 0em;
}

article.sent_message p {
	font-size: 2em;
	color: #46592A;
	padding: 1em 0em;
	margin: 0em 1em;
}

.sign_in_form {
		text-align: center;
		position: relative;
		font-size: 3em;
		font-weight: bold;
		top: 5em;
		padding: 0.5em 0em 0.5em 0em;
		background-color: #87A388;
}

.sign_in_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

.sign_in_form input[type="submit"]:hover {
	color: #46592A;
}

.sign_up_form {
	text-align: center;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	top: 3.5em;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

.sign_up_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

.sign_up_form input[type="submit"]:hover {
	color: #46592A;
}

input[type="text"] {
	border-radius: 0.5em;
	width: 97%;
	border: 0.05em solid #46592A;
}

input[type="password"] {
	border-radius: 0.5em;
	width: 97%;
	border: 0.05em solid #46592A;
}

#logout input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
	font-size: 3em;
	font-weight: bold;
}

#logout input[type="submit"]:hover {
	color: #46592A;
}


#new_message_form {
	text-align: center;
	position: relative;
	margin: 0.33em 0em;
	font-size: 3em;
	font-weight: bold;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

#new_message_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

#new_message_form input[type="submit"]:hover {
	color: #46592A;
}

#add_contact_form {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

#add_contact_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

#add_contact_form input[type="submit"]:hover {
	color: #46592A;
}

select {
	margin: 0.5em auto;
	height: 3em;
	width: 97%;
}

option {
	font-size: 3em;
}

textarea {
	margin: 0 auto;
	border-radius: 0.5em;
	height: 4em;
	width: 97%;
}

select {
	display: block;
}

textarea {
	display: block;
}

article.homepage_contact {
	background-color: #87A388;
	border-radius: 0.5em;
	width: 100%;
	padding: 1em 0em;
	margin: 1em 0em;
	text-align: center;
}

article.homepage_contact a {
	vertical-align: middle;
	font-size: 3em;
	font-weight: bold;
	margin: 0em 0.5em;
}


article.add_contact {
	width: 100%;
}


figure.contact_photo {
	background: url('images/yoda_profile_large.jpeg');
	background-repeat: no-repeat;
	height: 325px;
	width: 325px;
	border-radius: 15em;
	margin: 1em auto;
}

figure.contact_photo.homepage {
	background: url('images/yoda_profile_medium.jpeg');
	height: 150px;
	width: 150px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	margin: 0em;
	left: 1em;
}

.contact_info {
	background-color: #87A388;
	padding: 2em 0em 2em 0em;
}

.contact_info p {
	font-size: 3em;
	color: #46592A;
	margin: 0em 0em 0.5em 0.5em;
}

.contact_links a {
	margin: 0.33em auto;
	text-align: center;
	padding: 0.5em 0em 0.5em 0em;
	color: #543F23;
	font-size: 3em;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
	display: block;
}

.contact_links a:hover {
	color: #46592A;
}

#update_contact_form {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

#update_contact_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

#update_contact_form input[type="submit"]:hover {
	color: #46592A;
}

#contact_template {
	display: none;
}

@media (max-width: 840px) {
	nav ul li {
		width: 10em;
		margin-right: 4%;
		margin-left: 4%;
	}
}

@media (max-width: 650px) {
	nav ul li {
		width: 10em;
		margin-right: 2%;
		margin-left: 2%;
	}
}

@media (max-width: 565px) {
	nav ul li {
		width: 100%;
	}

	#update_contact_form {
		font-size: 2em;
	}

	#add_contact_form {
		font-size: 2em;
	}

	figure.contact_photo.homepage {
		display: none;
	}

	article.homepage_contact a {
		font-size: 2.5em;
	}

	.contact_info p {
		font-size: 2em;
	}

	.contact_links a {
		font-size: 2em;
	}
}

@media (max-width: 320px) {
	header {
		font-size: 4em;
	}

	a.landingpage {
		font-size: 2em;
		top: 4.5em;
	}

	.sign_in_form {
		top: 2em;
	}

	.sign_in_form input[type="text"] {
		font-size: 0.5em;
		width: 90%;
	}

	.sign_in_form input[type="password"] {
		font-size: 0.5em;
		width: 90%;
	}

	.sign_in_form input[type="submit"] {
		font-size: 0.66em;
	}

	.sign_up_form {
		top: 2em;
	}

	.sign_up_form input[type="text"] {
		font-size: 0.5em;
		width: 90%;
	}

	.sign_up_form input[type="password"] {
		font-size: 0.5em;
		width: 90%;
	}

	.sign_up_form input[type="submit"] {
		font-size: 0.66em;
	}

	#logout input[type="submit"] {
		font-size: 2em;
	}

	article.sent_message {
		margin: 0.5em 0em;
	}

	article.sent_message p {
		font-size: 1.1em;
	}

	nav {
		margin-top: -1em;
		padding: 0;
	}

	nav ul li {
		margin: 0.2em;
	}

	nav ul li a {
		font-size: 1.1em;
	}

	#new_message_form {
		font-size: 1.5em;
	}

	#new_message_form input[type="submit"] {
		font-size: 1.33em;
	}

	#add_contact_form {
		font-size: 1.5em;

	}

	#add_contact_form input[type="text"] {
		width: 90%;
	}

	#add_contact_form input[type="submit"] {
		font-size: 1em;
	}

	figure.contact_photo {
		background: url('images/yoda_profile_medium.jpeg');
		width: 150px;
		height: 150px;
	}

	article.homepage_contact a {
		font-size: 1.5em;
	}

	#update_contact_form {
		font-size: 1.5em;
	}

	#update_contact_form input[type="text"] {
		width: 85%;
	}

	#update_contact_form input[type="submit"] {
		font-size: 1em;
	}

	.contact_info p {
		font-size: 1.5em;
	}


}