#new_yoda_message {
	display: none;
}

a {
	text-decoration: none;
	color: #46592A;
}

a:hover {
	color: #543F23;
}

img {
	height: 4em;
	width: 4em;
}

header {
	text-align: center;
	width: 100%;
	z-index: 1;
	background-color: #87A388;

	color: #46592A;
	padding: 0em 0em 0.4em 0em;
	font-size: 6em;
	font-weight: bolder;
}

.container {
  margin: 0 auto;
  width: 640px;
  height: 1152px;
  border: 1px dotted black;
  background-color: #C0CFC4;
}
th {
  text-align: left;
}

section.homepage {
	height: 780px;
	overflow: auto;
}

a.landingpage {
	display: block;
	text-align: center;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	top: 9em;
	padding: 1em 0.5em;
	margin: 0.5em 0em;
  background-color: #87A388;

}

nav {
	background-color: #917A5C;
	padding: 0.1em 0em;
	width: 100%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0em 1.1em;
}

nav ul li a {
	color: #543F23;
	font-size: 1.5em;
	font-weight: bold;
}

nav ul li a:hover {
	color: #46592A;
}

input {
	display: block;
	margin: 0.5em auto;
}

article.sent_message {
	background-color: #87A388;
	border-radius: 0.5em;
	width: 100%;
}

article.sent_message p {
	font-size: 2em;
	color: #46592A;
	padding: 1em 0em;
	margin: 0.5em 1em;
}

.sign_in_form {
		text-align: center;
		position: relative;
		font-size: 3em;
		font-weight: bold;
		top: 9em;
		padding: 0.5em 0em 0.5em 0em;
		background-color: #87A388;
}

.sign_in_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

.sign_in_form input[type="submit"]:hover {
	color: #46592A;
}

.sign_up_form {
	text-align: center;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	top: 9em;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

.sign_up_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

.sign_up_form input[type="submit"]:hover {
	color: #46592A;
}

input[type="text"] {
	border-radius: 0.5em;
	width: 97%;
	border: 0.05em solid #46592A;
}

input[type="password"] {
	border-radius: 0.5em;
	width: 97%;
	border: 0.05em solid #46592A;
}

#logout input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
	font-size: 3em;
	font-weight: bold;
}

#logout input[type="submit"]:hover {
	color: #46592A;
}


#new_message_form {
	text-align: center;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	top: 1em;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #87A388;
}

#new_message_form input[type="submit"] {
	color: #543F23;
	font-weight: bold;
	background-color: #917A5C;
	padding: 0.3em 0em;
	width: 97%;
	border: none;
	border-radius: 0.5em;
}

#new_message_form input[type="submit"]:hover {
	color: #46592A;
}

select {
	margin: 0.5em auto;
	height: 3em;
	width: 97%;

}

option {
	font-size: 3em;
}

textarea {
	margin: 0 auto;
	border-radius: 0.5em;
	height: 4em;
	width: 97%;
}

select {
	display: block;
}

textarea {
	display: block;
}

article.add_contact {
	width: 100%;
}


figure.contact_photo {
	background: url('images/yoda_profile.jpeg');
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	border-radius: 10em;
	display: inline-block;
}

figure.contact_photo.homepage {
	background: url('images/yoda_profile_small.jpeg');
	height: 100px;
	width: 100px;
}

#contact_template {
	display: none;
}