#new_yoda_message {
	display: none;
}

.container {
  margin: 20px auto;
  width: 640px;
  height: 960px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.landingpage {
	display: block;
	text-align: center;
}

nav ul {
	list-style-type: none;
	list-style-position: 
}

nav ul li {
	display: inline;
}

article.contact_message {
	width: 600px;
	height: 100px;
	border: 1px dotted green;
}

input {
	display: block;
}

select {
	display: block;
}

textarea {
	display: block;
}