#new_yoda_message {
	display: none;
}

.container {
  margin: 20px auto;
  width: 640px;
  height: 960px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

section.homepage {
	height: 800px;
	overflow: scroll;
	border: 1px dotted black;

}

.landingpage {
	display: block;
	text-align: center;
}

nav ul {
	list-style-type: none;
	list-style-position: 
}

nav ul li {
	display: inline;
}

article.contact_message {
	width: 600px;
	height: 100px;
	border: 1px dotted green;
}

input {
	display: block;
}

select {
	display: block;
}

textarea {
	display: block;
}

article.add_contact {
	width: 100%;
}


figure.contact_photo {
	background: url('images/yoda_profile.jpeg');
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	border-radius: 10em;
	display: inline-block;
}

figure.contact_photo.homepage {
	background: url('images/yoda_profile_small.jpeg');
	height: 100px;
	width: 100px;
}

#contact_template {
	display: none;
}