<article class="contact_message">
	<form id="new_message_form" action="/messages" method="post">
		<select name="name">
			<% @contacts.each do |contact| %>
				<option value="<%= contact.id %>"><%= contact.name %></option>
			<% end %>
		</select>
		<textarea name="content"></textarea>
		<input class="send_message" type="submit" value="Send">
	</form>
</article>