<article class="add_contact">
	<figure class="contact_photo"></figure>
	
	<form id="add_contact_form" action="/contacts" method="post">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="phone_number" placeholder="number">
		<input class="save_contact" type="submit" value="save contact, you will">
	</form>
</article>