<% if messages %>
	<% messages.each do |message| %>
		<article class="sent_message">
			<span class="contact_name"></span>
			<span class="created_at"></span>
			<p class="yoda_content"><%= message.content %></p>
		</article>
	<% end %>
<% end %>