<form action="/sessions" method="post">
	<input type="text" name="email" placeholder="email">
	<input type="text" name="password_hash" placeholder="password">
	<input type="submit" value="Sign-In">
</form>