<section class="container">
  <header>yodafy</header>
  <nav>
  	<ul>
  		<li><a href="/messages/new" id="add_message">Add Message</a></li>
  		<li><a href="/contacts/all" id="all_contacts">All Contacts</a></li>
  		<li><a href="/contacts/new" id="add_contact">Add Contact</a></li>
  	</ul>
  </nav>

  <footer>sign-out</footer>
</section>