<section class="container">
  <header><a href="/">yodafy</a></header>

  <nav>
  	<ul>
  		<li><a href="/messages/new" id="new_message">New Message</a></li>
  		<li><a href="/contacts/all" id="all_contacts">All Contacts</a></li>
  		<li><a href="/contacts/new" id="add_contact">Add Contact</a></li>
  	</ul>
  </nav>

  <section class="homepage">
    <%= erb :_sent_messages, :locals => { messages: @messages } %>
  </section>

  <footer>
    <form id="logout" action="/sessions" method="post">
      <input name="_method" type="hidden" value="delete">
      <input type="submit" value="sign-out">
  </footer>
  <div id="contact_template">
    <article class="contact">
      <figure class="contact_photo"></figure>
      <div class="contact_info">
        <p class="contact_name"></p>
        <p class="contact_number"></p>
        <div class="contact_links">
          <a class="update_contact">update</a>
          <a class="delete_contact">delete</a>
        </div>
      </div>
    </article>
  </div>
  <div id="new_yoda_message">
  	<article class="yoda_message">
  		<span class="contact_name"></span>
  		<span class="created_at"></span>
  		<p class="yoda_content"></p>
  	</article>
  </div>
</section>