<section class="container">
  <header>yodafy</header>

  <nav>
  	<ul>
  		<li><a href="/messages/new" id="new_message">New Message</a></li>
  		<li><a href="/contacts/all" id="all_contacts">All Contacts</a></li>
  		<li><a href="/contacts/new" id="add_contact">Add Contact</a></li>
  	</ul>
  </nav>

  <section class="homepage">

  </section>

  <footer>sign-out</footer>
  <div id="new_yoda_message">
  	<article class="yoda_message">
  		<span class="contact_name"></span>
  		<span class="created_at"></span>
  		<p class="yoda_content"></p>
  	</article>
  </div>
</section>