<section class="container">
  <header>yodafy</header>
  <figure class="landingpage"></figure>
  <a href='/sessions/new' class="landingpage signin">sign-in</a>
  <a href='/users/new' class="landingpage signup">sign-up</a>
</section>
